Flask==0.12.2
click==6.7
Flask-SQLAlchemy==2.2
passlib==1.6.5
Flask-HTTPAuth==2.7.0
mysqlclient==1.4.2.post1
prometheus-client==0.2.0
python-gcm==0.4
geoip2==2.3.0
mypy-lang==0.4.5
python-dateutil==2.5.3
requests==2.18.4
freezegun
fauxfactory
flake8==3.5.0
SQLAlchemy==1.1.12
itsdangerous==0.24
uWSGI==2.0.17
Werkzeug==0.12.2
Pillow==9.3.0
pendulum==2.0.2
scikit-learn==0.20.0
numpy==1.15.4
Jinja2==2.10
PyJWT==1.7.1
simplejson==3.16.0